# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [20]:
# import numpy and pandas

import matplotlib.pyplot as plt
%matplotlib inline

# sospechos habituales
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

count_len = (pokemon['Legendary'] == True).sum()

print ('Legendarios:', count_len)

Legendarios: 65

In [6]:
count_no_len = (pokemon['Legendary'] == False).sum()

print ('No legendarios:', count_no_len)

No legendarios: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
#Filtrar primero.

pokemons_not_legendary = pokemon[pokemon['Legendary'] == False]

pokemons_not_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [8]:
#Media y desviaciÃ³n de no legendarios

non_legen_mean, non_legen_std = pokemons_not_legendary['Total'].mean(), pokemons_not_legendary['Total'].std()

print('Non-legendary mean and std\nMean:', non_legen_mean, 'Std:', non_legen_std)

Non-legendary mean and std
Mean: 417.21360544217686 Std: 106.76041745713005

In [9]:
#pokemos legendarios

legendary_pokemons= pokemon[pokemon['Legendary'] == True]

legendary_pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
#Media y desviaciÃ³n de no legendarios

legen_mean, legen_std = legendary_pokemons['Total'].mean(), legendary_pokemons['Total'].std()

print('Legendary mean and std\nMean:', legen_mean, 'Std:', legen_std)

Legendary mean and std
Mean: 637.3846153846154 Std: 60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# Your code here:
ttest_ind(legendary_pokemons['Total'],pokemons_not_legendary['Total'])

TtestResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52, df=798.0)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:

## Al ser el pv < 0,05  (3.0952457469652825e-52) se puede decir que hay una direcencia estadÃ­sticamente significativa entre ambos grupos de pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [18]:
# Your code here:

type_1 = pokemon.groupby('Type 1').size().reset_index(name='number_types')

type_1.sort_values(by='number_types', ascending=True)

type_1

      Type 1  number_types
0        Bug            69
1       Dark            31
2     Dragon            32
3   Electric            44
4      Fairy            17
5   Fighting            27
6       Fire            52
7     Flying             4
8      Ghost            32
9      Grass            70
10    Ground            32
11       Ice            24
12    Normal            98
13    Poison            28
14   Psychic            57
15      Rock            44
16     Steel            27
17     Water           112

In [15]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [13]:
# Your code here:
water = pokemon[pokemon['Type 1'] == 'Water']['Total']
other = pokemon[pokemon['Type 1'] != 'Water']['Total']

print(water.mean(), water.std())
print(other.mean(), other.std())

430.45535714285717 113.1882660643146
435.85901162790697 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Your code here:

stats.ttest_ind(water, other)

TtestResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793, df=798.0)

Write your conclusion below.

In [ ]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [22]:
# Your code here:
stats.ttest_rel(pokemon['Defense'], pokemon['Attack'])

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#Podemos recharzar la hipotesis nula de que las estadisticas de defensa y ataque con iguales.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [23]:
# Your code here:

stats.ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

TtestResult(statistic=-0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#como el P valor es mayor a 0.05 podemos decir que la diferencia no es estadisticamente significativa.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [25]:
# Your code here:
stats.ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: